.live_img img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}
img{
    width: 100%;
    object-fit: cover;
}

.live_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}